body {
    width: 100%;
    overflow-x: hidden;
}

.logo-header {
    text-align: center;
}

.logo-header img {
    width: 100px;
    height: 80px;
    margin: 5px 0;
    ;
}

.best-seller-title {
    text-align: center;
}

.img-bn {
    padding: 0;
}

.product1 {
    border: 10px solid #D6CBCB;
}

.relative {
    background-color: #D6CBCB;
    opacity: 0.5;
    padding: 10px 0 0 0;
    width: 110%;
    position: relative;
    top: 10px;
    right: 10px;
}

.relative h5 {
    margin: 0;
    color: #fff;
}