.container-fluid {
    width: 100%;
}

.body {
    width: 100%;
}

.footer {
    width: 100%;
}

.best-seller-title {
    text-align: center;
}

.body .product img {
    width: 100%;
    height: 100%;
    padding: 3px;
}