.service {
    text-align: center;
    margin-top: 20px;
}

.combo {
    text-align: center;
}

.task1 .relative {
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: left;
    margin-left: 20px;
    background-color: rgba(#58515F, 0.5);
}

.task1 .img {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-right: 2%;
}

.orderonline {
    text-align: center;
}

.footer {
    background-color: #2e2e2e;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}