body {
    margin: 0px;
    padding: 0px;
}

.header_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header_menu li {
    float: left;
}

.header_menu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 0 50px 0 200px;
}

.header_logo img {
    width: 50px;
    margin-right: 350px;
}

.header_search button {
    background-color: black;
    color: white;
}

.banner img {
    width: 100%;
}

.container {
    width: 20%;
}

.Product ul {
    background-color: darkgrey;
    width: 20%;
    margin-top: 0px;
}

.Product h2 {
    text-align: center;
    background-color: brown;
    color: white;
}