body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-logo img {
    position: relative;
    left: 10px;
    width: 50px;
    margin: 10px 0;
}

.header-form {
    position: relative;
    top: 30px;
    right: 10px;
}

.width100 {
    width: 100%;
}

.title {
    text-align: center;
    color: red;
}

.best-seller .seller {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.seller-logo {
    width: 40%;
    border: 1px solid none;
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seller-logo img {
    height: 500px;
    position: relative;
    top: 10px;
}

.seller-des {
    width: 40%;
    border: 1px solid none;
    padding: 0 40px 10px 20px;
    margin-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seller-des h2 {
    color: #3E9ED6;
}

.seller-des p {
    font-size: 14px;
    padding-top: 10px;
    width: 630px;
    border-bottom: 1px solid;
}

.access {
    display: flex;
    justify-content: space-evenly;
}

footer {
    width: 100%;
    background-color: #07A0C7;
    color: #fff;
    text-align: center;
    margin-bottom: -20px;
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}