body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.banner img {
    width: 100%;
}

.place-info {
    padding: 0;
}

.favourite-place-title h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.place {
    display: flex;
    text-align: justify;
    ;
}

.place .img-responsive {
    width: 20%;
    height: 100px;
}

.place .relative h3 {
    width: 78%;
    font-size: 10px;
}