body{
    background-color: azure;
}
h1{
    text-align: center;
    border:1px solid;
    width: 200px;
    padding: 20px;
    background-color: sandybrown;
    text-shadow: 5px 5px 3px green,0px -5px 0px red;
    /* horizontal(px);
    vertical(px);
    blur(px);
    color(name,rgb,hex)*/
    box-shadow: 5px 5px 3px pink;
    /* horizontal(px);
    vertical(px);
    blur(px);
    color(name,rgb,hex)*/
}
p{
    text-shadow:5px 5px 3px brown;
    color:cyan;
}