body {
    font-size: 130%;
}

header,
.right,
.left,
footer {
    background-color: aqua;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding-top: 2px;
    font-size: 85%;
}

header {
    text-align: center;
    padding-top: 1px;
}

header nav {
    display: flex;
    justify-content: center;
    padding: 0 10%;
}